.customize-control-sortable-checkbox-multiple .dashicons-menu {
    float: right;
    cursor: move;
}

.customize-control-sortable-checkbox-multiple li {
    padding: 7px;
    border: 1px solid #e5e5e5;
    background: #fafafa;
}